<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Landing Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="main">
        <img id="developerImg" src="/images/developer.png" alt="Developer Photo">
        <div id="work">
            <p>Work, I can do for you</p>
        </div>

        <div id="skills">
           <div id="webDev">
                <img src="images/web.png" alt="Web Photo">
                <h4>Web Development</h4>
           </div>
           <div id="appDev">
                <img src="images/mobile.png" alt="App Photo">
                <h4>App Development</h4>
           </div>
           <div id="uiux">
                <img src="images/uiux.png" alt="UI UX photo">
                <h4>UI UX Design</h4>
           </div>
        </div>

        <!-- <div id="beforeFooter">
           <div id="beforeFooter1">
                <b>About Me</b>
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia eaque, quas doloremque placeat optio ad aspernatur doloribus delectus voluptatibus quia labore voluptatum expedita omnis saepe!</h6>
           </div>
           <div id="beforeFooter2">
                <b>Contact Me</b>
                <h6>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat recusandae odit sit sint, eos earum nulla soluta illo eligendi. Dolorem necessitatibus accusamus vitae maxime voluptate?</h6>
           </div>
        </div> -->

        <div id="footer">
           <b>PROJECT BY: Somesh Chincholkar</b>
        </div>
    </div>
</body>
</html>